.table input[type="number"] {
  width: 100%;
}
.table input[type="letter"] {
  width: 100%;
}
.textIndent {
  text-indent: 80px;
}
.textRight {
  text-indent: 700px;
}
.textLeft {
  margin-right: 360px;
  margin-left: 500px;
}

.imageRight {
  width: 300px;
  height: 500px;
  float: right;
  margin-left: 20px;
  margin-right:20px;
}

.article {
  width: 1400px;
  margin: 40px;
  padding: 12px;
  background: #efefef;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
}

h1 {
  text-align: right;
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  padding-right: 365px;
}

td1 {
  text-align: right;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  padding-right: 365px;
  margin-left:825px;
}

td2 {
  text-align: right;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  padding-right: 365px;
  margin-left:745px;
}

td3 {
  text-align: right;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  padding-right: 365px;
  margin-left:815px;
}

.hr1 {
  border-color: blue;
}
.hr {
  padding-top: 50px;
}
.hr2 {
  padding-top: 0px;
}
.hr3 {
  padding-top:px;
  margin-left: 55px;
  margin-right: 55px;
}

.article2 {
  width: 1400px;
  margin: 40px;
  padding: 12px;
  border-radius: 5px;
}
.article3 {
  width: 1400px;
  margin: 40px;
  padding: 12px;
  border-radius: 5px;
}

.columns-newspaper {
  -moz-column-width: 35rem; /* Firefox */
  -webkit-column-width: 35rem; /* webkit, Safari, Chrome */
  column-width: 30rem;
  padding-top: 20px;
}
.columns2 {
  -moz-column-width: 35rem; /* Firefox */
  -webkit-column-width: 35rem; /* webkit, Safari, Chrome */
  column-width: 35rem;
}
.table {
  padding-bottom: 20px;
}
.table2 {
  padding-bottom: 40px;
}
.table8 {
  padding-bottom: px;
}
.italics {
  font-style: italic;
}

.tab1,
.tab2,
.tab3,
.tab4,
.tab5,
.tab6,
.tab7 {
  height: 25px;
  border-color: lime;
  background-color: white;
  border-radius: 7px;
}
.tab8,
.tab9,
.tab10 {
  height: 25px;
  border-color: cyan;
  background-color: white;
  border-radius: 7px;
}
.tab11,
.tab12,
.tab13,
.tab14,
.tab15{
  height: 25px;
  border-color: green;
  background-color: grey;
  border-radius: 7px;
}

.highlight {
  font-color: blue;
}
